EXPO_PUBLIC_API_URL=http://localhost:3001
EXPO_PUBLIC_SOCKET_URL=http://localhost:3001
EXPO_PUBLIC_GOOGLE_MAPS_ANDROID_API_KEY=replace_with_your_google_maps_android_api_key
EXPO_PUBLIC_GOOGLE_MAPS_IOS_API_KEY=replace_with_your_google_maps_ios_api_key
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=replace_with_your_stripe_publishable_key
EXPO_PUBLIC_STRIPE_MERCHANT_IDENTIFIER=merchant.com.example.yourapp
EXPO_PUBLIC_EAS_PROJECT_ID=replace_with_your_eas_project_id
EXPO_PUBLIC_ANDROID_GOOGLE_SERVICES_FILE=./google-services.json
EXPO_PUBLIC_IOS_GOOGLE_SERVICES_FILE=./GoogleService-Info.plist
