EXPO_PUBLIC_API_URL=http://localhost:3000
EXPO_PUBLIC_SOCKET_URL=http://localhost:3000
EXPO_PUBLIC_GOOGLE_MAPS_ANDROID_API_KEY=replace_with_your_google_maps_android_api_key
EXPO_PUBLIC_GOOGLE_MAPS_IOS_API_KEY=replace_with_your_google_maps_ios_api_key
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=replace_with_your_stripe_publishable_key
